{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>{% block title %}{% endblock %}</title>
    <script src="{% static 'jquery.min.js'%}"></script>
    <!-- Bootstrap CSS -->    
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="{% static 'css/elegant-icons-style.css' %}" rel="stylesheet" />


    <!-- easy pie chart-->
    <link href="{% static 'assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css'%}" rel="stylesheet" type="text/css" media="screen"/>
    <!-- owl carousel -->
    <link rel="{% static 'stylesheet" href="css/owl.carousel.css' %}" type="text/css">
	<link href="{% static 'css/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet">
    <!-- Custom styles -->

	<link href="{% static 'css/widgets.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" />
	<link href="{% static 'css/xcharts.min.css' %}" rel=" stylesheet">
	<link href="{% static 'css/jquery-ui-1.10.4.min.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.js' %}"></script>
      <script src="{% static 'js/respond.min.js' %}"></script>
      <script src="{% static 'js/lte-ie7.js' %}"></script>
    <![endif]-->
  </head>

  <body>
  <!-- container section start -->
  <section id="container" class="">
     
      
      <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>

            <!--logo start-->
            <a href="{% url 'home' %}" class="logo">SAMMS <span class="lite"></span></a>
            <!--logo end-->

            

            <div class="top-nav notification-row">                
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="{% block avatar %}{% endblock %}">
                            </span>
                            <span class="username">
                                {% if request.user.is_authenticated %}
                                    {{ request.user.username }}
                                {% else %}
                                    Invitado
                                {% endif %}


                            </span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            {% if request.user.username != '' %}
                                <li class="eborder-top">
                                    <a href="#"><i class="icon_profile"></i>Perfil</a>
                                </li>
                                <li>
                                    <a href="{% url 'contrasena' %}"><i class="icon_key_alt"></i>Cambiar Contraseña</a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}"><i class="icon_key_alt"></i>Cerrar Sesión</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'login' %}"><i class="icon_key_alt"></i>Iniciar Sesión</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
      </header>      
      <!--header end-->

      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">                
                  <li class="active">
                      <a class="" href="{% url 'home' %}">
                          <i class="icon_house_alt"></i>
                          <span>Inicio</span>
                      </a>
                  </li>
                  {% if request.user.is_superuser %}
                      <li class="sub-menu">
                          <a href="javascript:;" class="">
                              <i class="icon_document_alt"></i>
                              <span>Admin</span>
                              <span class="menu-arrow arrow_carrot-right"></span>
                          </a>
                          <ul class="sub">
                              <li><a href="/admin/" target="_blank">Administrador</a></li>
                              <li><a href="{% url 'migrar_datos' %}" >Migrar Datos</a></li>
                                <li><a href="{% url 'migrar_docente' %}" >Migrar Docentes</a></li>
                                <li><a href="{% url 'migrar_estudiante' %}" >Migrar Estudiante</a></li>
                          </ul>
                      </li>

                      <li>
                  {% endif %}
              {% if request.user.is_authenticated %}
				  <li class="sub-menu">
                      {% if request.user.is_authenticated %}
                        {% for group in request.user.groups.values_list %}
                                {% for g in group %}
                                    {% if g == 'Coordinador' %}
                                        <li>
                                              <a class="" href="{% url 'coordinador_buscar_docentes' %}">
                                                  <i class="icon_piechart"></i>
                                                  <span>Reportes COORDINADOR ACADÉMICO</span>
                                              </a>

                                          </li>
                                    {% endif %}

                                    {% if g == 'Docentes' %}
                                        <a href="javascript:;" class="">
                                              <i class="icon_document_alt"></i>
                                              <span>Planificación</span>
                                              <span class="menu-arrow arrow_carrot-right"></span>
                                          </a>
                                          <ul class="sub">
                                              <li><a class="" href="{% url 'ver_asignaturas' %}">Ver Asignaturas</a></li>
                                          </ul>
                                        <li>
                                              <a class="" href="{% url 'docente_ver_materia_reporte' %}">
                                                  <i class="icon_piechart"></i>
                                                  <span>Reportes</span>

                                              </a>

                                          </li>
                                    {% endif %}
                                    {% if g == 'Estudiantes' %}
                                        <a href="javascript:;" class="">
                                              <i class="icon_document_alt"></i>
                                              <span>Aprobar Temas</span>
                                              <span class="menu-arrow arrow_carrot-right"></span>
                                          </a>
                                          <ul class="sub">
                                              <li><a class="" href="{% url 'ver_temas_estudiante' %}">Ver Temas</a></li>
                                          </ul>
                                        <li>
                                              <a class="" href="{% url 'ver_materia_reporte' %}">
                                                  <i class="icon_piechart"></i>
                                                  <span>Reportes</span>

                                              </a>

                                          </li>
                                    {% endif %}
                                {% endfor %}
                        {% endfor %}

                      {% endif %} 

                  </li>       
                  

              {% endif %}
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!--main content start-->
    	<section id="main-content">
        	<section class="wrapper">            
              <!--overview start-->
			  <div class="row">
				<div class="col-lg-12">
					
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="{% url 'home' %}">Inicio</a></li>
						<li><i class="fa fa-laptop"></i>{% block lugar_previo %}{% endblock %}</li>
                        <li><i class="fa fa-laptop"></i>{% block lugar %}{% endblock %}</li>
					</ol>
				</div>
			</div>                      					                       
				
			<div class="row">
               	
				<div class="col-lg-12 col-md-12">	
					<div class="panel panel-default">
						<div class="panel-heading" style="height:34px !important;">
							<h2><i class="fa fa-flag-o red"></i><strong>{% block accion %}{% endblock %}</strong></h2>
							
						</div>
						<div class="panel-body">
							{% block contenido %}{% endblock %}
						</div>
	
					</div>	
				
            </div>

                    
                   
                <!-- statics end -->
              
            
				

              <!-- project team & activity start -->
          

        </section>
      </section>
      <!--main content end-->
  </section>
  <!-- container section start -->

    <!-- javascripts -->
    <script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/jquery-ui-1.10.4.min.js' %}"></script>
    <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.9.2.custom.min.js' %}"></script>
    <!-- bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- nice scroll -->
    <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.js' %}" type="text/javascript"></script>
    <!-- charts scripts -->
    <script src="{% static 'assets/jquery-knob/js/jquery.knob.js' %}"></script>
    <script src="{% static 'js/jquery.sparkline.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}" ></script>
    <!-- jQuery full calendar -->

    <!--script for this page only-->

	<script src="{% static 'js/jquery.rateit.min.js' %}"></script>
    <!-- custom select -->
    <script src="{% static 'js/jquery.customSelect.min.js' %}" ></script>
	<script src="{% static 'assets/chart-master/Chart.js' %}"></script>
   
    <!--custome script for all page-->
    <script src="{% static 'js/scripts.js' %}"></script>
    <!-- custom script for this page-->
    <script src="{% static 'js/sparkline-chart.js' %}"></script>
    <script src="{% static 'js/easy-pie-chart.js' %}"></script>
	<script src="{% static 'js/jquery-jvectormap-1.2.2.min.js' %}"></script>
	<script src="{% static 'js/jquery-jvectormap-world-mill-en.js' %}"></script>
	<script src="{% static 'js/xcharts.min.js' %}"></script>
	<script src="{% static 'js/jquery.autosize.min.js' %}"></script>
	<script src="{% static 'js/jquery.placeholder.min.js' %}"></script>
	<script src="{% static 'js/gdp-data.js' %}"></script>
	<script src="{% static 'js/morris.min.js' %}"></script>
	<script src="{% static 'js/sparklines.js' %}"></script>
	<script src="{% static 'js/charts.js' %}"></script>
	<script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
  <script>

      //knob
      $(function() {
        $(".knob").knob({
          'draw' : function () { 
            $(this.i).val(this.cv + '%')
          }
        })
      });

      //carousel
      $(document).ready(function() {
          $("#owl-slider").owlCarousel({
              navigation : true,
              slideSpeed : 300,
              paginationSpeed : 400,
              singleItem : true

          });
      });

      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });
	  
	  /* ---------- Map ---------- */
	$(function(){
	  $('#map').vectorMap({
	    map: 'world_mill_en',
	    series: {
	      regions: [{
	        values: gdpData,
	        scale: ['#000', '#000'],
	        normalizeFunction: 'polynomial'
	      }]
	    },
		backgroundColor: '#eef3f7',
	    onLabelShow: function(e, el, code){
	      el.html(el.html()+' (GDP - '+gdpData[code]+')');
	    }
	  });
	});



  </script>

  </body>
</html>
