{% extends "base.html" %}

{% block title %}
Sistema de Avance Microcurricular ESPOCH Morona Santiago
{% endblock %}

{% block lugar %}{% endblock %}
{% block accion %}Inicio{% endblock %}
        {% block contenido  %}

        {% if request.GET.migrar == "correcto" %}
            <div class="alert alert-success fade in">
                  <button data-dismiss="alert" class="close close-sm" type="button">
                      <i class="icon-remove"></i>
                  </button>
                  <strong>¡Listo!</strong> Los datos se migraron correctamente
            </div>
        {% endif %}

        {% if request.GET.migrar == "error" %}
            <div class="alert alert-block alert-danger fade in">
                  <button data-dismiss="alert" class="close close-sm" type="button">
                      <i class="icon-remove"></i>
                  </button>
                  <strong>¡Lo sentimos!</strong> Ha sucedido un error. Póngase en contacto con el <a href="mailto:admin@samms.edu.ec">administrador</a> del sitio
            </div>
        {% endif %}
            <p>
            <b>VISIÓN</b><br>

            "Ser la institución líder de docencia con investigación, que garantice la formación profesional, la generación de ciencia y tecnología para el desarrollo humano integral, con reconocimiento nacional e internacional".
                <br><br>



 <b>MISIÓN</b>
                <br>
"Formar profesionales e investigadores competentes, para contribuir al desarrollo sustentable del país".

            </p>
        {% endblock %}
