{% extends "base.html" %}

{% block title %}
    Cambiar Contraseña
{% endblock %}

{% block lugar %}Perfil{% endblock %}
{% block accion %}Cambiar Contraseña{% endblock %}
{% block contenido  %}
    <form method="post" action="" _lpchecked="1" class="login-form" style="margin:auto auto !important;">
        {% csrf_token %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert-error" style="margin-left: 25px; margin-top:5px;">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert-error" style="margin-left: 25px;">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <div class="login-wrap">
            <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input id="id_old_password" name="old_password" type="password" data-cip-id="id_old_password" class="form-control" placeholder="Contraseña Anterior">
            </div>
            <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input id="id_new_password1" name="new_password1" type="password" data-cip-id="id_new_password1" class="form-control" placeholder="Nueva Contraseña">
            </div>
            <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input id="id_new_password2" name="new_password2" type="password" data-cip-id="id_new_password2" class="form-control" placeholder="Nueva Contraseña">
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">Cambiar Contraseña</button>
        </div>
    </form>


{% endblock %}