{% extends "base.html" %}

{% block title %}
    Reportes - Buscar Docente
{% endblock %}
{% block lugar_previo %} {% endblock %}
{% block lugar %}Reportes{% endblock %}

{% block accion %}Buscar{% endblock %}

{% block contenido  %}
    <section class="panel">
        <header class="panel-heading">
              Docentes
        </header>

        <div class="list-group" >
            <br><br>
            <form id="search" method="get" action="#">
                <label for="">Buscar Docente:</label><br><input type="text" name="query" placeholder="Buscar Docente. Cédula, Nombre, Apellido" id="busqueda" class="form-control"/>
            </form>

            <div id="resultDocente">


            </div>

            <p>
            <a class="btn btn-primary" href="xls/" title="Descargar" target="_blank"><span class="icon_plus_alt2"></span>Docentes Excel</a>
            </p>

        </div>
        <script>
        $('#busqueda').keyup(function(e){
            $("#resultDocente").text("")
            consulta = $("#busqueda").val();
             $.ajax({
             data: {'nombre': consulta},
             url: '/reportes/buscar/',
             type: 'get',
             success : function(data) {

                    for (i=0;i<data.length;i++){
                        $("#resultDocente").append("<a class='list-group-item' target=__blank href=/reportes/docente/"+data[i].id+"/pdf>"+data[i].first_name + " " + data[i].last_name+"</a>");
                    }
                    if(consulta == ""){$("#resultDocente").text("");}
             },
             error : function(message) {
                     $("#resultDocente").text("No se han encontrado docentes que coincidan con los parámetros de búsqueda");
                  }
             });
        });
    </script>
    </section>
{% endblock %}