{% extends "base.html" %}

{% block title %}
    Reportes - Asignaturas
{% endblock %}
{% block lugar_previo %} {% endblock %}
{% block lugar %}Reportes{% endblock %}

{% block accion %}Ver Asignaturas{% endblock %}
{% block contenido  %}
    <section class="panel">
        <header class="panel-heading">
              Asignaturas
        </header>

       <div class="list-group">
            {% for asignatura in asignaturas %}
                <a class="list-group-item" href="{{ asignatura.codigo }}">{{ asignatura.descripcion }}</a>
            {% endfor %}
        </div>

    </section>
{% endblock %}