{% extends "base.html" %}

{% block title %}
    Temas Registrados - {{ asignatura.descripcion }} - {{ unidad.nombre }}
{% endblock %}
{% block lugar_previo %} {% endblock %}
{% block lugar %}Temas Registrados{% endblock %}

{% block accion %}Ver{% endblock %}
{% block contenido  %}
    <section class="panel">
        {% if request.GET.mensaje == "correcto" %}
        <div class="alert alert-success fade in">
              <button data-dismiss="alert" class="close close-sm" type="button">
                  <i class="icon-remove"></i>
              </button>
              <strong>¡Listo!</strong> El tema fue registrado correctamente
        </div>
        {% endif %}

        <header class="panel-heading">
              Temas Registrados
        </header>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Asignatura</th>
                        <th>Tema</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                {% for tema in temas %}
                    <tr>
                        <td>{{ tema.unidad.asignatura.asignatura.descripcion }}</td>
                        <td>{{ tema.nombre }}</td>
                        <td>{{ tema.fecha }}</td>
                        <td>{{ tema.horario.get_inicio_display }}</td>
                        <td><a href="revisar/{{ tema.id }}">{{ tema.tema_string }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </section>
{% endblock %}