{% extends "base.html" %}

{% block title %}
    Crear Tema
{% endblock %}

{% block lugar %}Temas{% endblock %}
{% block accion %}Crear{% endblock %}
{% block contenido  %}
    <section class="panel">
        <header class="panel-heading">
              Crear Tema
        </header>


        <form action="" method="POST">
        {% csrf_token %}
            {{ form.as_p }}
        <p><button type="submit" class="btn btn-success btn-lg" title="Aceptar">Enviar</button></p>
    </form>
    </section>
{% endblock %}