{% extends "base.html" %}

{% block title %}
    {{ asignatura.descripcion }}
{% endblock %}

{% block lugar_previo %}<a href="{% url 'ver_asignaturas' %}">Asignaturas</a>{% endblock %}
{% block lugar %}{{ asignatura.descripcion }} - Unidades{% endblock %}
{% block accion %}Ver{% endblock %}
{% block contenido  %}
    <section class="panel">
        <header class="panel-heading">
              {{ asignatura.descripcion }} - Unidades Ingresadas - Seleccionar
        </header>
        <div class="list-group">
            {% for unidad in unidades %}
                <a class="list-group-item" href="unidad/{{ unidad.id }}">{{ unidad.nombre }}</a>
                <a class="list-group-item" href="unidad/{{ unidad.id }}">{{ unidad.nombre }}</a>
            {% endfor %}


        </div>

            <p>
                <a class="btn btn-primary" href="unidad/crear/" title="Nuevo"><span class="icon_plus_alt2"></span> Nuevo</a>
            </p>
    </section>
{% endblock %}